[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
pypdf = "*"
pathlib = "*"
python-dotenv = "*"
semantic-kernel = "*"
asyncio = "*"
langchain = "*"
tiktoken = "*"
google-search-results = "*"
pandas = "*"
pymilvus = "*"
numpy = "*"
tensorflow-hub = "*"
faiss-cpu = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
